.recipeImage {
position: relative;
align-items: center;
height: 100px;
width: 100px;

}

.recipeImage:hover {
  border-radius: 20%;
}

h1{
  text-decoration: underline;
}

body {
background-color: gray;
}
